body
{
    background-image:url(images/allIcons.png);
    background-repeat: repeat-x repeat-y;
    background-size: 15%;
}
.divAll
{
    margin: 250px;
    text-align: center;
    font-size: large;
}
.erzsiCalc
{
    margin: 15px;
    text-align: center;
}
.button
{
    border-radius: 5px;
}